<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>
  <form th:method="PATCH"
        th:action="@{/users/{id}(id=${user.getId()})}"
        th:object="${user}">
    <label for="name">Name: </label>
    <input type="text" id="name" th:field="*{name}">
    <span style="color: firebrick" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/>
    <br>
    <label for="age">Age: </label>
    <input type="text" id="age" th:field="*{age}">
    <span style="color: firebrick" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"/>
    <br>
    <label for="email">Email: </label>
    <input type="text" id="email" th:field="*{email}">
    <span style="color: firebrick" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
    <br>
    <input type="submit" id="submit" value="Update">
  </form>
</body>
</html>